body{
    background: #000;
}
html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

.p{
    font-size: 16px;
    color: #000;
}

.rainbow-text{
    text-align: center;
    margin: 80px auto 40px;
    font-size: 64px;
    font-family: Impact;
}
.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    max-height: 300px;
}

.menu li {
    font-size: 20px;
    flex-basis: 20%;
}

.wrap{
    /* max-width: 600px; */
    margin: auto;
    background: #f0f0f0;
}
.link-item {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }

.card-wrap{
    display: flex;
    flex-wrap: wrap;
    background: #f0f0f0;
}
.card1-wrap{
    display: flex;
    flex-wrap: wrap;
    background: #f0f0f0;
    width: 100%
}
.sbtitle{
    text-align: center;
    font-size: large;
    font-family: fantasy;
}

.card{
    flex-basis: 28%;
    margin: 2%;
    background: #fff;
    border: 1px #000000 solid;
    max-width: 500px;
    position: relative;
}
.card:hover {
    animation: headShake 1s;
  }

.image{
    display: inline-block;
    border: 0.1px solid black;
}
.card1{
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 10%;
    background: #fff;
    border: 1px #000000 solid;
}
.card video {
    width: 100%;
    height: auto;
}

.card1 video {
    width: 100%;
    height: auto;
}
.txt{
    margin: 4% 6%;
    line-height: 1.3;
    font-size: 14px;
    font-family: monospasans-serifce;
}

@media screen and (max-width:480px) {

    /*　画面サイズが480px以下の場合ここの記述が適用される　*/
    .menu{
        list-style: none;
         display: flex;
         flex-direction: column;
         padding: 0;
         background-color: #000;
    }
    .card{
        flex-basis: 100%;
    }
    .card1{
        flex-basis: 100%;
    }
    .h-large{
        margin: 40px auto 24px;
    }
}